.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}
.auth-box{
  color:white;
  padding: 50px 100px;

}
.login{
  margin: 20px 10px
}

.auth-box h1{
  font-size: 70px;
  margin: 10px
}
.nav-bar,
.nav-bar-top{
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center
}
.nav-bar{
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  width: 8vw;
  background-image: linear-gradient(to bottom,  #ff9770 73%, #ff70a6)
}

.post-box{
  border: solid black 3px;
  width: 200px;
  height: 200px;
}