body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(168,240,255,1) 0%, rgba(236,183,56,1) 47%, rgba(21,156,184,1) 100%);
    background-size: 100vw 100vh;
    background-attachment: scroll;
  }

  .card{
    width: 18rem;
    height: 24rem;
  }

  .row{
    padding: 1rem;
  }

  

